/* Root style */
#loginRoot {
    -fx-background-image: url("file:src/main/resources/ww.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.login-root {
    -fx-background-color: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
    -fx-padding: 20;
}

/* Title */
.login-title {
    -fx-font-size: 24px;
    -fx-text-fill: #00796b;
    -fx-font-weight: bold;
}
.danger-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 8px 18px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.danger-button:hover {
    -fx-background-color: #c0392b;
}

/* Text Fields */
.login-field {
    -fx-pref-width: 240px;
    -fx-font-size: 14px;
    -fx-Max-width: 240px;
    -fx-padding: 10px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-background-color: #ffffff;
    -fx-border-color: #b2dfdb;
}

.login-field:focused {
    -fx-border-color: #009688;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 136, 0.3), 6, 0, 0, 1);
}

/* Button */
.login-button {
    -fx-background-color: #009688;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.login-button:hover {
    -fx-background-color: #00796b;
}

.login-button:pressed {
    -fx-background-color: #00695c;
}

/* Error Label */
.error-label {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-text-fill: #e74c3c;
}
